<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Content</th>
    <th>Source</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.image %></td>
    <td><%= article.content %></td>
    <td><%= article.source %></td>
    <td><%= article.url %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
