%header
  #header
    %ul.nav.pull-left
      %li= link_to 'NINJANEWS', root_path
    %ul.nav.pull-right
      -if signed_in?
        %li= link_to current_user.name.titleize, user_path(current_user)
        %li= link_to 'Sign out', signout_path, method: 'delete'
        -if current_user.is_admin
          =render 'layouts/admin_toolbar'
      -else
        %li= link_to 'Sign in', signin_path
        %li= link_to 'Sign up', signup_path
