<header>
  <div id='header'>
  	<ul class='nav pull-left'>
  		<li>
        <%= link_to 'NINJA|news', root_path %>
      </li>
  	</ul>
  	<ul class='nav pull-right'>
      <% if signed_in? %>
        <li>
          <%= link_to current_user.name.capitalize, user_path(current_user) %>
        </li>
        <li>
          <%= link_to 'Sign out', signout_path, method: 'delete' %> 
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign in', signin_path %>
        </li>
        <li>
          <%= link_to 'Sign up', signup_path %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
